{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1000,"scrollleft":0,"selection":{"start":{"row":14,"column":15},"end":{"row":87,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":61,"state":"start","mode":"ace/mode/text"}},"timestamp":1575626358393,"hash":"52d7512584b809c48e39d5b20c7836383c6e6b8b"}