{% extends 'base.html' %} {% block content %}
  <div class="container">
      

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Digital Review Site</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Mobile Phones</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div>
                <h2 class="text-center"><a href="https://www.mediamarkt.se/sv/product/_apple-iphone-11-64gb-black-1309657.html" target="_blank">APPLE IPHONE 11 - 128GB - BLACK</a></h2>
              </div>
              <img class="d-block img-fluid" src="static/images/Iphone 11.png" alt="Iphone 11">
            </div>
            <div class="carousel-item">
              <h2 class="text-center"><a href="https://www.mediamarkt.se/sv/product/_samsung-galaxy-s10-128-gb-8-gb-ram-prism-black-1314714.html" target="_blank">SAMSUNG Galaxy S10 - 128 GB - 8 GB RAM - Prism Black</a></h2>
              <img class="d-block img-fluid" src="static/images/Samsung-s10.png" alt="Samsung Galaxy s10">
            </div>
            <div class="carousel-item">
              <h2 class="text-center"><a href="https://www.mediamarkt.se/sv/product/_huawei-p30-128gb-breathing-crystal-1315838.html" target="_blank">HUAWEI P30 - 128GB - BREATHING CRYSTAL</a></h2>
              <img class="d-block img-fluid" src="static/images/Huawei-p30.png" alt="Huawei p30">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="static/images/Iphone 11.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.mediamarkt.se/sv/product/_apple-iphone-11-64gb-black-1309657.html" target="_blank">iPhone 11</a>
                </h4>
                <h5>$699 - $900+</h5>
                <form method="POST" action="{{ url_for('itemone_review') }}">
                <button type="submit" class="btn btn-primary">Leave Review / Edit Review</button>
                </form>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="stars" data-rating="3">
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="static/images/Samsung-s10.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.mediamarkt.se/sv/product/_samsung-galaxy-s10-128-gb-8-gb-ram-prism-black-1314714.html" target="_blank">Samsung s10</a>
                </h4>
                <h5>$700 - $900+</h5>
                <form method="POST" action="{{ url_for('itemtwo_review') }}">
                <button type="submit" class="btn btn-primary">Leave Review / Edit Review</button>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="stars" data-rating="3">
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="static/images/Huawei-p30.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.amazon.com/Stunning-Display-Android-TM-Sim-Free-Smartphone/dp/B07PL5PD7V" target="_blank">Huawei p30</a>
                </h4>
                <h5>$700 - $900+</h5>
                <form method="POST" action="{{ url_for('itemtwo_review') }}">
                <button type="submit" class="btn btn-primary">Leave Review / Edit Review</button>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="stars" data-rating="3">
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Four</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="stars" data-rating="3">
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Five</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="stars" data-rating="3">
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Six</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="stars" data-rating="3">
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
                <span class="star">&nbsp;</span>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}