{% extends 'base.html' %} {% block content %}

<!-- Samsung s10 Content -->
<div>
    <h2 class="text-center"><a href="https://www.amazon.com/Samsung-SM-G975F-Unlocked-Smartphone-International/dp/B07NZX5BKH/ref=sr_1_5?keywords=samsung+s10&qid=1576785407&sr=8-5" target="_blank">SAMSUNG Galaxy S10 - 128 GB - 8 GB RAM - Prism Black</a></h2>
</div>
<div>
    <img class="d-block img-fluid" src="static/images/Samsung-s10.png" alt="Samsung s10">
</div>
<!-- Review Form -->

<h3 class="text-center">Please Leave Your Review For Samsung s10 Here</h3>
<div class="container">
    <form action="{{ url_for('insert_samsung') }}" method="POST" class="col s6">
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-mobile fa-3x"></i>
                <label for="mobile_name"><b>Mobile Phone:</b></label>
                <input id="mobile_name" name="mobile_name" placeholder="Samsung s10" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-dollar fa-3x"></i>
                <label for="mobile_price"><b>Purchase Price:</b></label>
                <input id="mobile_price" name="mobile_price" placeholder="Your Price" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-calendar fa-3x"></i>
                <label for="purchase_date"><b>Puchase Date:</b></label>
                <input id="purchase_date" name="purchase_date" type="text" placeholder="Your Puchase Date" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-user fa-3x"></i>
                <label for="author"><b>Author:</b></label>
                <input id="author" name="author" type="text" placeholder="Your Name" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-comments fa-3x"></i>
                <label for="mobile_edit"><b>Review:</b></label>
                <textarea id="mobile_edit" name="mobile_edit" placeholder="Please leave a review" class="form-control"></textarea>
            </div>
        </div>
        <button type="submit" name="action" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
<!-- Review Entries -->

<h1 class="text-center">Latest Reviews</h1> 

{% for s in samsung %}
<div class="col-sm-12 ">
    <p class="text-center"><b>Name</b>: {{s.mobile_name}}</p>
</div>
<div class="col-sm-12 ">
    <p class="text-center"><b>Price</b>: {{s.mobile_price}}</p>
</div>
<div class="col-sm-12">
    <p class="text-center"><b>Purchase date</b>: {{s.purchase_date}}</p>
</div>
<div class="col-sm-12">
    <p class="text-center"><b>Author</b>: {{s.author}}</p>
</div>
<div class="col-sm-12">
    <p class="text-center"><b>Review</b>: {{s.mobile_edit}}</p>
</div>
{% endfor %} {% endblock %}