{% extends 'base.html' %} 
{% block content %}

<div>
    <h2 class="text-center"><a href="https://www.amazon.com/Apple-iPhone-XR-Fully-Unlocked/dp/B07P6Y7954/ref=sr_1_5?keywords=APPLE+iPhone+8&qid=1576789272&sr=8-5" target="_blank">Apple iPhone XR - 64 GB</a></h2>
</div>
<div>
  <img class="d-block img-fluid" src="static/images/iphone_xr.png">
</div>


<h3 class="text-center">Please Leave Your Review For iPhone XR Here</h3>
<div class="container">
    <form action="{{ url_for('insert_iphone') }}" method="POST" class="col s6">
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-mobile fa-3x"></i>
                <label for="mobile_name"><b>Mobile Phone:</b></label>
                <input id="mobile_name" name="mobile_name" placeholder="iPhone XR" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-dollar fa-3x"></i>
                <label for="mobile_price"><b>Purchase Price:</b></label>
                <input id="mobile_price" name="mobile_price" placeholder="Your Price" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-calendar fa-3x"></i>
                <label for="purchase_date"><b>Puchase Date:</b></label>
                <input id="purchase_date" name="purchase_date" type="text" placeholder="Your Puchase Date" class="form-control"/>
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-user fa-3x"></i>
                <label for="author"><b>Author:</b></label>
                <input id="author" name="author" type="text" placeholder="Your Name" class="form-control"/>
            </div>
        </div>
        <div class="form-row">
            <div class="input col s6">
                <i class="fa fa-comments fa-3x"></i>
                <label for="mobile_edit"><b>Review:</b></label>
                <textarea id="mobile_edit" name="mobile_edit" placeholder="Please leave a review" type="textarea" class="form-control"></textarea>
            </div>
        </div>
        <button type="submit" name="action" class="btn btn-primary btn-block">Submit</button>
	</form>
</div>
<h1 class="text-center">Latest Reviews</h1>

{% for i in iphone %}
 <div class="col-sm-12 ">
                <p class="text-center"><b>Name</b>: {{i.mobile_name}}</p>
            </div>
            <div class="col-sm-12 ">
                <p class="text-center"><b>Price</b>: {{i.mobile_price}}</p>
            </div>
            <div class="col-sm-12">
                <p class="text-center"><b>Purchase date</b>: {{i.purchase_date}}</p>
            </div>
            <div class="col-sm-12">
                <p class="text-center"><b>Author</b>: {{i.author}}</p>
            </div>
            <div class="col-sm-12">
                <p class="text-center"><b>Review</b>: {{i.mobile_edit}}</p>
            </div>
{% endfor %}
  
{% endblock %}